name: (Deprecated) Deploy to GitHub Pages

on:
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  notice:
    runs-on: ubuntu-latest
    steps:
      - name: Deprecated workflow
        run: echo "Deprecated. Use .github/workflows/pages.yml instead."
